{% extends "base.html" %}
{% block content %}
<h1>Muokkaa henkilöä Timo Turbo</h1>

<form>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Saapunut
        </label>
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="Timo Turbo" type="text">
    </div>
    <div class="form-group">
        <label>Sukunimi</label>
        <input class="form-control" value="Turbo" type="text">
    </div>
    <div class="form-group">
        <label>Henkilöllisyystunnus</label>
        <input class="form-control" value="12111999-277S" type="text">
    </div>
    <div class="form-group">
        <label>Kansallisuus</label>
        <input class="form-control" value="Suomi" type="text">
    </div>
    <div class="form-group">
        <label>Puhelinnumero</label>
        <input class="form-control" value="43328897" type="number">
    </div>
    <div class="form-group">
        <label>Ammattinimike</label>
        <textarea class="form-control">Opas
        </textarea>
    </div>
    <div class="form-group">
        <label>Yritys</label>
        <input class="form-control" value="RahatPoesTuristeilt AB" type="text">
    </div>
    <div class="form-group">
        <label>Yhteyshenkilö</label>
        <input class="form-control" value="Timon Pomo" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
