{% extends "base.html" %}
{% block content %}
  <h1>Turva-alueelle sallitut henkilöt</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää henkilö</a>
    <a href="#" class="btn btn-danger">Poista henkilö</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Henkilöllisyystunnus</th>
        <th>Kansallisuus</th>
        <th>Nimike</th>
        <th>Vastuuhenkilö</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="http://lkaranko.users.cs.helsinki.fi/securitycheck/person">Timo Turbo</a></td>
        <td>11051992-137S</td>
        <td>Suomi</td>
        <td>Opas</td>
        <td>Opaspomo Hessu</td>
        <th><a class="btn btn-default btn-sm" href="http://lkaranko.users.cs.helsinki.fi/securitycheck/edit">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}